# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build and distribution directories
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/
ENV/

# IDE and editor specific files
.idea/
.vscode/
.ipynb_checkpoints

# System files
*.DS_Store

# Configuration files and local databases
*.env
.streamlit/secrets.toml
*.sqlite3
*.db